@use '../../styles/partials/global';
@import '../../styles/partials/variables';
@import '../../styles/partials/mixins';


.dashboard {
    padding: 0 1rem;

    @include desktop {
        padding: 0 10vw 0 10vw;
    }

    &__heading-container {
        padding: 1rem 0 0.75rem 0;

    }

    &__heading {
        @include desktop {
            font-size: 2rem;
        }
    }

    &__saved-heading {
        @include desktop {
            font-size: 1.5rem;
        }
    }

    &__divider {
        margin: 1rem 0;
        
    }

    &__image {
        width: 5vw;
        margin-right: 0.5rem;

        @include desktop{
            width: 2vw;
        }
    }

    &__item {
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 0;

        @include desktop{
            border-bottom: 1px solid $Cloud;
            margin: 1rem 0;
        }
    }

    &__button-container {
        margin-top: 1rem;
        display: flex;
        justify-content: flex-end;

        @include desktop {
            width: 13%;
            float: right;
        }

    }

    &__button-bottom{
        @include desktop{
            width: 13%;
        }
    }

    &__button-container-top {
        @include desktop {

            display: flex;
            justify-content: flex-end;
        }
    }

    &__link {
        @include desktop {
            width: 13%;
        }

    }



    &__listing-link {
        color: $Black;
    }


}