@import './mixins';
@import './variables';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
     @include font-styling(400, $darker-green);
     background-color: $Light-Grey;
}


a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

input {
    @include font-styling(400, $Black);

    background-color: $White;
    border: 0.0625rem solid $Cloud;
    border-radius: 1.25rem;

    min-width: 15rem;
    height: 2.25rem;

    padding: 1rem;

    @include desktop {
        height: 2.375rem;
        padding: 0.75rem 1rem;
    }

    &::placeholder {
        @include font-styling(400, $Slate);
        padding: 0;

        @include desktop {
            @include format-text(1rem, 0.875rem, 400);
        }

    }

    &:focus {
        outline: none;
        border: 0.0625rem solid $light-green;
    }

    &.invalid {
        outline: none;
        border: 0.0625rem solid $Red;

    }

}

button{
    display: block;
    border: none;
    border-radius: 1.25rem;
    background-color: $dark-green;
    color: white;
    text-transform: capitalize;
    padding: 0;
    margin: 0;
    height: 2rem;
    width: 100%;
    

    @include font-styling(400, $White);

    @include format-text(1.25rem, 0.8125rem, 600);
    height: 2.5rem;
    width: 100%;
    flex-grow: 1;

    &:hover{
        background-color: $darker-green;
        transition: all ease-in-out 0.2s;
    }
   }