// Breakpoints
$desktop-break: 1280px;
$tablet-break: 768px;
$mobile-break: 320px;

// Primary colors
$Black: #13182C;
$White: #FFFFFF;
$Blue: 	#3e4772;     
$Pink: #b55385;           

// Secondary colors
$Slate: #5C667E;
$Light-Blue: #8d96a9;


// Background colors
$Light-Grey: #F7F8F9;
