// Breakpoints
$desktop-break: 1280px;
$tablet-break: 768px;
$mobile-break: 320px;

// Primary colors
$Black: #13182C;
$White: #FFFFFF;
$Blue: 	#3e4772;          
$green: #2D4016;

// Secondary colors

$Light-Blue: #8d96a9;
$dark-green: #1D290F;
$darker-green: #151E0A;

// Background colors
$Light-Grey: #F7F8F9;
