@use '../../styles/partials/global';
@import '../../styles/partials/variables';
@import '../../styles/partials/mixins';

.password {
    padding: 0 1rem;

    @include desktop {
        padding: 0 10vw;
        display: flex;
        align-items: center;
        flex-direction: column;
    }


    &__heading-container {
        padding: 1rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    &__heading {
        @include desktop {
            font-size: 2rem;
        }
    }

    &__body{
     @include desktop{
            border: 1px solid $Cloud;
            border-radius: 0.5rem;
            padding: 1rem;
            width: 60%;
        }
    }

    &__action {
        display: flex;
        flex-direction: column;
        padding-bottom: 1.25rem;
    }

    &__label {
        padding-bottom: 0.25rem;
    }

    &__input {
        border-radius: 0.5rem;
    }

    &__redirect {

        &-login,
        &-signup {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 0.5rem;
        }
    }

    &__link {
        color: $light-green;
    }

    &__error {
        color: $Red;
    }
}