@use '../../styles/partials/global';
@import '../../styles/partials/variables';
@import '../../styles/partials/mixins';

.login{
    padding: 0 1rem;

    &__heading-container{
        padding: 1rem;
        display: flex;
        justify-content: center;
    }

    &__content{
        display: flex;
        flex-direction: column;
        padding-bottom: 1.25rem;
    }

    &__label{
        padding-bottom: 0.25rem;
    }

    &__input{
        border-radius: 0.5rem;
    }

    &__redirect{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__forgot-container{
        padding-top: 0.5rem;
    }

    &__signup-container{
        padding-top: 0.5rem;
    }

    &__link{
        color: $light-green;
    }
}