@use '../../styles/partials/global';
@import '../../styles/partials/variables';
@import '../../styles/partials/mixins';

.home{
    background-color: $Light-Grey;
    &__heading{
        padding: 1rem 1rem 0.5rem 1rem;
        color: $darker-green;
    }
}