@use '../../styles/partials/global';
@import '../../styles/partials/variables';
@import '../../styles/partials/mixins';


.listings{
    padding: 0 1rem 0 1rem;
    
}


.green {
    color: green;
}

.yellow {
    color: yellow;
}

.red {
    color: red;
}