@use '../../styles/partials/global';
@import '../../styles/partials/variables';
@import '../../styles/partials/mixins';


.listings{
    padding: 0 1rem 0 1rem;
    background-color: $Light-Grey;

    @include desktop{
        padding: 0 10vw 0 10vw;
    }

    &__heading-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 1rem;
        padding-bottom: 0.5rem;
    }

    &__heading{
        color: $darker-green;

        @include desktop{
            font-size: 2rem;
        }
    }

    &__image-container{
        display: flex;

        @include desktop{
            display: none;
        }

        &-desktop{
            display: none;
            @include desktop{
                display: block;
                width: 15%;
                display: flex;
                justify-content: flex-end;
            }

        }
    }

    &__error{
        color: $Red;
    }
    

    &__filter{
        margin-right: 0.5rem;
        width: 5vw;

        @include desktop{
            width: 2.5vw;
            padding-bottom: 0.65rem;
        }
    }

    &__reset{
        width: 5vw;
        margin-left: 0.5rem;
        margin-right: 0.5rem;

        
        @include desktop{
            width: 2.5vw;
            padding-bottom: 0.65rem;
            margin-left: 1.25rem;
        }
    }


    &__form{
        display: flex;
        flex-direction: column;

        @include desktop{
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__input{
        background-image: url(../../assets/icons/search-24px.svg);
        background-repeat: no-repeat;
        background-position: 95%;
        margin-bottom: 0.75rem;

        @include desktop{
            width: 95%;
            background-position: 98%;
        }
        
    }

    &__divider{
        margin: 1rem 0;
    }

    &__list{
        @include desktop{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            
        }
    }

    &__item{
        display: flex;
        justify-content: space-between;
        padding-bottom: 1rem;

        @include desktop{
            justify-content: normal;
            align-items: center;
            margin: 1rem;
            border: 1px solid $Slate;
            border-radius: 0.5rem;
            width: 15%;
            padding: 1rem;
        }
    }

    &__item-name{
        color: $dark-green;
    }

    &__save{
        width:5vw;

        @include desktop{
            width: 2vw;
            margin-left: 0.5rem;
        }
    }

    &__button{
        @include desktop{
            display:none;
        }
    }

}


.green {
    color: green;
}

.yellow {
    color: rgb(197, 150, 47);
}

.red {
    color: red;
}