@use '../../styles/partials/global';
@import '../../styles/partials/variables';
@import '../../styles/partials/mixins';


.nav-bar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    padding-bottom: 0.6rem;
    background-color: $green;

    @include desktop{
        flex-direction: row;
        padding: 0.75rem 10vw 0 10vw;
        width: 100%;
    }

    &__heading-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include desktop{
        width: 10%;
        }
    }

    &__heading{
        height: 7vh;

        @include desktop{
            height: 5vh;
        }

    }

    &__lists-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        @include desktop{
            width: 25%;
        }
    }

    &__item{
        color: $White;
    }

    &__right-container{
        display: flex;
        width: 50%;
        justify-content: flex-end;

        @include desktop{
            width: 70%;
        }
        
    }

   &__button-container{
        width: 70%;

   }

   &__profile{
    display: flex;
    padding-top: 0.25rem;
    
    @include desktop{
        display: none;
    }
   }

   &__profile-desktop{
    display: none;

    @include desktop{
        display: block;
        padding-left: 0.55rem;
    }
   }

   &__profile-img{
        width: 6vw;

        @include desktop{
            width: 2.5vw;
        }

   }

   &__button{
    display: block;
    border: none;
    border-radius: 1.25rem;
    background-color: $dark-green;
    color: white;
    text-transform: capitalize;
    padding: 0;
    margin: 0;
    height: 2rem;
    width: 100%;
   }

    &__lists{
        display: flex;
        width: 50%;
        padding-left: 0.5rem;

        @include desktop{
            width: 60%;
        }
    }

    &__item{
        margin-right: 1rem;

        &:hover{
            border-bottom: 1px solid white;
        }
    }

}